/.vscode
/CMakeCache.txt
/CMakeFiles
/CTestTestfile.cmake
/DartConfiguration.tcl
/Makefile
/Testing
/Win32
/cmake_install.cmake
/find
/locate
/ls
/scandir
/cat
/dir
/du
/t-compile
/t-dirent
/t-scandir
/t-cplusplus
/t-unicode
/t-strverscmp
/t-telldir
/t-utf8
/t-symlink
/updatedb
/build
/*.filters
/*.vcxproj
/*.dir
